a, .nav-link {
    text-decoration: none;
    color: #536577;
}

h3 {
    color: #212529;
}

.card-img-right {
    width: 100px;
    height: auto;
    object-fit: cover;
}
.preview-header {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 10% 10%;
}